@media screen and (max-width: 760px){
    body{
        font-size: 14px;
    }
    main{
        width: 95%;
        margin:20px;
    }
    nav a{
        margin: 20px 5px;
    }
    #img1{
        width: 275px;
    }
}

@media screen and (max-width:480px){
    body{
        font-size: 12px;
    }
    #marca{
        text-align: left;
        font-size: 18px;
        font-weight: 700;
        margin:5px;
    }
    nav a{
        margin:20px 2px;
        padding: 5px;
        font-size:14px;
    }
    main{
        flex-direction: column;
        width: 100%;
        margin: 1px;
    }
    section#intro h1{
        font-size: 34px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
    }
    #img1{
        width: 80vw;
    }
}